torch==2.2.0
torchvision==0.17.0
transformers
diffusers==0.21.4
numpy==1.26.0
huggingface_hub==0.25.0
datasets
compressai
scikit-image
opencv-python
pycryptodome
accelerate
galois==0.4.1
ldpc
scipy
matplotlib
jupyter